*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
}

.card{
    background-color: #30598c;
    color: white;    
    width: 500px;       
    overflow: hidden;
    padding: 30px;
    line-height: 45px;
    text-align: center;
}

.card-website{
    margin: 20px;
}

.card-gioithieu{
    margin: 20px;
}

.card-tuyensinh{
    margin: 20px;
}

.card-điachi{
    margin: 20px;
}

.card-website h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.card-website a{
    color: white;
    text-decoration: none;
    line-height: 35px;
    font-weight: 400;
}

.card-website a:hover{
    color: darkgray;
}

.card-gioithieu h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.card-gioithieu a{
    color: white;
    text-decoration: none;
}

.card-gioithieu a:hover{
    color: darkgray;
}

.card-tuyensinh h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}


.card-tuyensinh a{
    color: white;
    text-decoration: none;
}

.card-tuyensinh a:hover{
    color: darkgray;
}

.card-điachi h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.card-điachi a{
    color: white;
    text-decoration: none;
}

.card-điachi a:hover{
    color: darkgray;
}

.card-điachi p i{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}