*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
}

/* Body-container */

.container{
    margin: 80px 200px;   
    
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.path{
    
    text-transform: uppercase;
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.path a i{
    padding-left: 30px;
}

.path a{
    text-decoration: none;
    padding-left: 30px;
    color: #464646;
    font-size: 16px;
    
}

.box-content1{
    flex: 1;
    max-width: 100%;
    box-shadow: 2px 4px 5px rgba(0,0,0,.2);
    border-radius: 4px;
    padding-right: 15px;
    padding-left: 15px;      
}

.box-content1 div{
    font-size: 19.2px;
    padding: 8px 24px;
    margin: 10px;
}

.box-content1 .tuvanvien{
    display: flex;    
}

.tuvanvien .tuvanvien-phai{
    cursor: pointer;
    line-height: 40px;
    padding: 0 10px;  
}

.box-content1 li{
    
    font-size: 16px;
    line-height: 50px;
    font-weight: 400;
}

.tuvanvien-phai a{
    text-decoration: none;
    color: #464646;
    
}

.tuvanvien-phai button{
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: 6px 12px;
    
    }

.khoa-hoc p{
    list-style-type: none;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;    
}

.khoa-hoc  a{
    color: #007bff;
    text-decoration: none;
}

.khoa-hoc ul li{
    
}

/* Header Style */

.header{
    background-color: #30598c;
    color: white;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    height: 62px;   
}

.header-container{
    padding: 0 30px;
    height: 100%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sidebar{
    display: flex;
    align-items: center;
}

.menu .main-menu{
    display: flex;
}

.menu .main-menu .menu-item{
    text-transform: uppercase;
    margin-right: 24px;
    position: relative;
    height: 62px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sub-menu{
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    background-color: white;    
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 4px;
    
    display: none;
}

.menu .main-menu .menu-item:hover .sub-menu{
    display: block;
}

.menu .main-menu .menu-item:hover{
    color: #c4c4c4;

}

.sub-menu-item{
    cursor: pointer;
    font-size: 15px;
    padding: 16px;
    text-align: center;
    text-transform: none;
    color: #464646;    
}

.sub-menu-item:hover{
    background-color: #c4c4c4;
    color: #fff;
}

.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}

.avatar img{
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.avatar{
    margin-left: 24px;
}

ul li span{
    padding: 10px;
}

.cart-icon{
    font-size: 30px;
}

/* Footer */

.footer{
    background-color: #30598c;
    height: 500px;
    color: white;
    font-size: 18px;
    overflow: hidden;
    padding: 10px 10px;
    line-height: 45px;
}

.footer-container{
    padding: 0 50px;
    height: 100%;    
}

.footer-item{
    display: flex;
    justify-content: space-between;    
    padding-top: 60px;
    font-size: 18px;
}

.footer-website h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.footer-website a{
    color: white;
    text-decoration: none;
    line-height: 35px;
    font-weight: 400;
}

.footer-website a:hover{
    color: darkgray;
}

.footer-gioithieu h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.footer-gioithieu a{
    color: white;
    text-decoration: none;
}

.footer-gioithieu a:hover{
    color: darkgray;
}

.footer-tuyensinh h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}


.footer-tuyensinh a{
    color: white;
    text-decoration: none;
}

.footer-tuyensinh a:hover{
    color: darkgray;
}

.footer-iachi h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.footer-iachi a{
    color: white;
    text-decoration: none;
    
}

.footer-iachi a:hover{
    color: darkgray;
}

.footer-iachi p i{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



