*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{    
    width: 1200px;
    margin: auto;
    padding: 70px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card-item{
    flex-basis: 33.3%;
    padding: 10px;
}

body{
    font-family: 'Roboto', sans-serif;;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

.card{    
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,.15);
    overflow: hidden;
    transition: all 0.5s;
}

.card a{
    text-decoration: none;
}

.card:hover{
    box-shadow: 0 2px 4px rgba(0,0,0,15);
}

.card:hover img{
    height: 276px;
}

.card-image{
    height: 230px;
    overflow: hidden;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.card-content{
    padding: 16px;
}

.card-content h2{
    font-size: 19px;
    color: #464646;
    font-weight: 400;
    line-height: 28.8px;
}

.card-content p{
    font-size: 14px;
    color: #757575;
    font-weight: 100;    
}

.card-content p span{
    color: #ffd600;
}

.card-content div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Header Style */

.header{
    background-color: #30598c;
    color: white;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
    height: 62px;   
}

.header-container{
    padding: 0 30px;
    height: 100%;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.sidebar{
    display: flex;
    align-items: center;
}

.menu .main-menu{
    display: flex;
}

.menu .main-menu .menu-item{
    text-transform: uppercase;
    margin-right: 24px;
    position: relative;
    height: 62px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sub-menu{
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    background-color: white;    
    box-shadow: 0 0 10px rgba(0,0,0,.15);
    border-radius: 4px;
    
    display: none;
}

.menu .main-menu .menu-item:hover .sub-menu{
    display: block;
}

.menu .main-menu .menu-item:hover{
    color: #c4c4c4;

}

.sub-menu-item{
    cursor: pointer;
    font-size: 15px;
    padding: 16px;
    text-align: center;
    text-transform: none;
    color: #464646;    
}

.sub-menu-item:hover{
    background-color: #c4c4c4;
    color: #fff;
}

.logo img {
    height: 37px;
    object-fit: cover;
    width: 100px;
}

.avatar img{
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
    width: 30px;
}

.avatar{
    margin-left: 24px;
}

ul li span{
    padding: 10px;
}

.cart-icon{
    font-size: 30px;
}

/* Footer */

.footer{
    background-color: #30598c;
    height: 600px;
    color: white;
    font-size: 18px;
    overflow: hidden;
    padding: 40px;
    line-height: 50px;
}

.footer-container{
    padding: 0 50px;
    height: 100%;    
}

.footer-item{
    display: flex;
    justify-content: space-around;    
    padding-top: 50px;
}

.footer-website h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.footer-website a{
    color: white;
    text-decoration: none;
    line-height: 35px;
    font-weight: 400;
}

.footer-website a:hover{
    color: darkgray;
}

.footer-gioithieu h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.footer-gioithieu a{
    color: white;
    text-decoration: none;
}

.footer-gioithieu a:hover{
    color: darkgray;
}

.footer-tuyensinh h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}


.footer-tuyensinh a{
    color: white;
    text-decoration: none;
}

.footer-tuyensinh a:hover{
    color: darkgray;
}

.footer-iachi h2{
    font-weight: 400;
    line-height: 21.6px;
    margin-bottom: 10px;
}

.footer-iachi a{
    color: white;
    text-decoration: none;
    
}

.footer-iachi a:hover{
    color: darkgray;
}

.footer-iachi p i{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}



